<header class="site-header">
        <div class="container site-header__inner">
                <a class="site-header__logo-link" href="/demo/our-project/"
                        aria-label="MBA 360 Home">
                        <img
                                class="site-header__logo"
                                src="/demo/our-project/mba-360.webp"
                                alt="MBA 360"
                                width="200"
                                height="35"
                                loading="eager"
                                alt="Logo">
                </a>

                <nav class="site-nav" aria-label="Primary">
                        <ul class="site-nav__list">
                                <li><a class="site-nav__link"
                                                href="/demo/our-project/exam/">Exams
                                        </a></li>
                                <li><a class="site-nav__link"
                                                href="/demo/our-project/college/">Colleges</a></li>

                                <li><a class="site-nav__link"
                                                href="/demo/mba-360/bba-colleges-in-india/">BBA
                                                / IPM</a></li>
                                <!-- <li><a class="site-nav__link"
                        href="/community">Community</a></li> -->
                                <li><a class="site-nav__link"
                                                href="/demo/mba-360/alumni-speak/">Alumni</a></li>
                                <li><a class="site-nav__link"
                                                href="/demo/our-project/glossary">Glossary</a></li>
                                <li><a class="site-nav__link"
                                                href="/demo/our-project/blog/">Blog</a></li>
                        </ul>
                </nav>

                <div class="site-header__actions">
                        <a class="btn btn--outline" href="/login">Login</a>
                        <a class="btn btn--solid" href="/register">Register</a>
                </div>
        </div>
</header>
